:root {
  --dark-bg-color: #20232a;
  --dark-color: #f7f7f7;
  --grey-color-dark: #333333;
  --grey-color: #ccc;
  --soft-reddish: crimson;
  --red-as-npmjs: #cb3837;
  --blue-as-sky: #61dafb;
  --premium-color: goldenrod;
  --light-icon-fill: #edf2f5;
  --light-icon-color: #32373d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.premium-color {
  color: var(--premium-color);
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.vertical-space {
  min-height: 46vh;
}

.helvetica {
  font-family: Helvetica, sans-serif, Arial;
}

.text-muted {
  color: var(--grey-color);
}

.text-center {
  text-align: center;
}

.border {
  border: 1px solid var(--dark-bg-color);
}

.w-100 {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  font-size: 1.25rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-items {
  display: flex;
  align-items: stretch;
}

.nav-item {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin-block: auto;
}
.nav-item a:hover {
  text-decoration: none;
}
.nav-item:hover {
  background-color: black;
  border-radius: 1rem;
}

.margin-auto {
  margin: auto;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
@media (max-width: 480px) {
  .small-column {
    flex-direction: column;
    text-align: center;
  }
  .small-column li {
    list-style: none;
  }
}

.info-banner {
  padding: 10px 20px;
  background-color: var(--grey-color-dark);
  color: var(--dark-color);
}

.box {
  margin: 5px;
  padding: 20px;
}
.box * :not(strong, b, pre, img, i, span, svg, br, hr) {
  margin: 4px;
}
